<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver.class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/test?schemaName=public</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password"></property>

        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>

        <!-- Second Level Cache -->
        <property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        <property name="cache.use_second_level_cache">true</property>
        <property name="cache.use_query_cache">true</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>

        <mapping class="com.webdev.dto.UserDetails" />
        <mapping class="com.webdev.dto.Vehicle" />
        <mapping class="com.webdev.dto.TwoWheeler" />
        <mapping class="com.webdev.dto.FourWheeler" />


    </session-factory>
</hibernate-configuration>